  nav a{

                   color:#FF4500 !important;


                 }

.img-responsive{  height: auto;
    width: auto;
    max-height: 40px;
    max-width: 75px;
}

.push{

font-family: 'Amatic SC', cursive;
    color:#FF4500 !important;}
.pushy {
font-family: 'Amatic SC', cursive;
font-family: 'Concert One', cursive;
}