 nav a{

font-family: 'Amatic SC', cursive;
font-family: 'Odibee Sans', cursive;
font-family: 'Playfair Display SC', serif;

                 }

.img-responsive{  height: auto;
    width: auto;
    max-height: 40px;
    max-width: 75px;
}

.column{
padding : 0px 90px 0px 100px
}


.column1{
padding : 0px 100px 0px 200px
}